app.folder_in=IN/
app.folder_out=OUT/

app.mnemonic=MNEMONIC/MT9xx Mnemonic - Agung.csv
app.pathBackup=DATA/BACKUP/
app.pathEncrypt=DATA/IN
app.pathEncryptResult=DATA/OUT
app.pathKeyEncrypt=DATA/KEY/
app.privateKeyEncrypt=DATA/KEY/PrivateKey.asc
app.publicKeyEncrypt=DATA/KEY/PublicKey.asc
app.passphraseEncrypt=DATA/KEY/pass.txt
